.THIS .right-alignment{
    margin-right:30px;}

.THIS .button-left{
    float: left;
}
.THIS .pagination {
    display: inline-block;
    display: flex;
    justify-content: center;
}

.THIS .pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.THIS .pagination a.active {
    background-color: #0070d2;
    color: white;
}

.THIS .pagination a:hover:not(.active) {background-color: #ddd;}
.THIS .font-class{
    font-size: 2rem;
    padding-top:2px;
    padding-bottom:2px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0px;
    text-decoration: none;
    transition: background-color .3s;
}